fastapi>=0.100.0
uvicorn[standard]>=0.20.0
# Додайте сюди aiogram та інші залежності вашого бота, коли будете його інтегрувати
# aiogram>=3.1.0 
# python-dotenv>=0.20.0 # Якщо використовуєте .env локально
